<f:layout name="Default" />

<f:section name="Content">

    <div class="cd-secondary-nav">
        <a href="#0" class="cd-secondary-nav-trigger">Menu<span></span></a> <!-- button visible on small devices -->
        <a href="#c1" id="home" class="is-hidden">
            <img src="typo3conf/ext/etter/Resources/Public/Template/dist/images//Logo_TT_verkleinert.png" alt="Etter Baumanagement">
        </a>

        <f:cObject typoscriptObjectPath="lib.contentloader" data="1" />
    </div>

    <main class="cd-main-content cd-scrolling-bg row">
        <!-- TYPO3SEARCH_begin -->
        <f:cObject typoscriptObjectPath="lib.contentloader" data="0" />
        <!-- TYPO3SEARCH_end -->
    </main>

    <footer id="c5" class="element cd-section">
        <a href="#main" id="toTop">To Top</a>
    </footer>
</f:section>