<div class="cd-secondary-nav" style="display: none;">
    <a href="#0" class="cd-secondary-nav-trigger">Menu<span></span></a> <!-- button visible on small devices -->
    <a href="#motto" id="home" class="is-hidden"><img src="typo3conf/ext/etter/Resources/Public/Template/dist/images/icon-home.png" alt="Etter Baumanagement"></a>
    <nav>
        <ul>
            <li>
                <a href="#referenzen">Referenzen</b>
                </a>
            </li>
            <li>
                <a href="#firma">Firma</a>
            </li>
            <li>
                <a href="#partner">Partner</a>
            </li>
            <li>
                <a href="#kontakt">Kontakt</a>
            </li>
        </ul>
    </nav>
    <f:cObject typoscriptObjectPath="lib.menu" />
</div>



<h1>{pagetitle}</h1>
