/* --------------------------------
Style
-------------------------------- */
main .cd-section {
  padding: 85px 0 75px;
  z-index: 2;

  &.has-top-margin {
    padding-top: 155px;
  }

  h1 {
    color: $darkblue;
    text-transform: uppercase;
    font-size: 4.3rem;
    line-height: 1;
    text-align: center;
    font-weight: 100;
    padding-bottom: 20px;
    background: url(../../app/images/icons/h1_border_bottom.png) no-repeat center bottom;
  }
  h2 {
    color: $brightblue;
    text-transform: uppercase;
    text-align: center;
    font-size: 2rem;
    font-weight: 800;
  }
  .bodytext {
    text-align: center;
  }
}

/* --------------------------------
Hellblau
-------------------------------- */
.cd-section.layout-1 {
  background: #0099CC;
  h1 {
    color: $white;
  }
}
/* --------------------------------
Dunkelblau
-------------------------------- */
.cd-section.layout-2 {
  background: $darkblue;
  h1 {
    color: $white;
  }
}
/* --------------------------------
Braun
-------------------------------- */
.cd-section.layout-3 {
  background-image: url(../../app/images/background/hintergrund1.jpg);
  h1 {
    color: $white;
  }
}
/* --------------------------------
Pattern
-------------------------------- */
.cd-section.layout-4 {
  background-image: url(../../app/images/background/hintergrund2.jpg);
  h1 {
    color: #000;
  }
  > header.contact {
    margin: 85px auto 0
  }
  > div.contact {
    margin-bottom: 75px;
    padding: 0;
  }
}
/* --------------------------------
White
-------------------------------- */
.cd-section.layout-5 {
  background: $white;
}
/* --------------------------------
Partner
-------------------------------- */
#address-list {
  border: 3px solid $brightblue;
  border-left: 0;
  border-right: 0;
  margin: 30px 0;
  text-align: center;
  li {
    display: inline-block;
    padding: 35px 20px;
    a {
      font-size: 1rem;
      font-style: italic;
      color: #000;
      &:hover {
        text-decoration: underline;
        color: $white;
      }
    }
  }
}


/* --------------------------------
Referenzen
-------------------------------- */
#close-referenz:hover {
  cursor: pointer;
}

.tx-mp-referenzen {
  overflow: hidden;
  padding-top: 25px;

  img {
    display: block;
    width: 100%;
  }
  #close-referenz {
    display: block;
    margin: 0 auto;
    height: 65px;
    width: 65px;
    img {
      display: block;
    }
  }
  figure {
    padding: 1px;
    position: relative;
    overflow: hidden;
  }

  figcaption {
    text-align: left;
  }

  @media (min-width: 36em) {
    figure {
      display: block;
      float: left;
      width: 33.3333333333333%;
    }
  }
  /*
  @media (max-width: 35.9999em) {
    figure { display: table-row; }
    figure img { display: table-cell; width: 6em; height: 6em; margin: 1em; margin-top: 2em; vertical-align: top; }
    figcaption { display: table-cell; vertical-align: top; padding-top: 2em; }
  }
  */
}
figure.effect-sadie figcaption::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(19, 36, 50, 0) 0%, rgba(19, 36, 50, 0.8) 75%);
  //background: rgba(19, 36, 50, 0.8);
  content: '';
  opacity: 0;
  /*transform: translate3d(0,50%,0);*/
}

figure.effect-sadie h2 {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  margin: 0 auto;
  font-size: 2.6rem;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  opacity: 0;
  color: $white;
  transition: transform 0.35s, color 0.35s;
  transform: translate3d(0,-50%,0);
}

figure.effect-sadie figcaption::before,
figure.effect-sadie p {
  color: $white;
  transition: opacity 0.35s, transform 0.35s;
}

figure.effect-sadie p {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 2em;
  width: 100%;
  opacity: 0;
  text-align: center;
  transform: translate3d(0,10px,0);
}

figure.effect-sadie:hover h2 {
  color: $brightblue;
  transform: translate3d(0,-50%,0) translate3d(0,-40px,0);
  opacity: 1;
  line-height: 1;
}

figure.effect-sadie:hover figcaption::before ,
figure.effect-sadie:hover p {
  opacity: 1;
  transform: translate3d(0,0,0);
}



.cd-scrolling-bg {
  position: relative;
  min-height: 100%;
  line-height: 1.6;
  z-index: 2;
}
.cd-scrolling-bg.cd-color-1 {
  background-color: #3d3536;
  color: #a6989a;
}
.cd-scrolling-bg.lightblue {
  background-color: $lightblue;
  color: $darkgrey;
}
.cd-scrolling-bg.cd-color-3 {
  background-color: #b4d7a8;
  color: #3d3536;
}
@media only screen and (min-width: 768px) {
  .cd-scrolling-bg {
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 2;
    font-weight: 300;
  }
}

.cd-fixed-bg {
  position: relative;
  min-height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 1;
}
.cd-fixed-bg.cd-bg-1 {
  background-image: url(../../app/images/start.jpg);
}
@media only screen and (min-width: 768px) {}
@media only screen and (min-width: 1170px) {
  .cd-fixed-bg {
    background-attachment: fixed;
  }
  .cd-fixed-bg h1, .cd-fixed-bg h2 {
    font-size: 48px;
    font-weight: 300;
  }
}
