/* --------------------------------
Style
-------------------------------- */
main .cd-section {
  padding: 85px 0 75px;
  z-index: 2;

  &.has-top-margin {
    padding-top: 155px;
  }

  h1 {
    color: $darkblue;
    text-transform: uppercase;
    font-size: 4.3rem;
    line-height: 1;
    text-align: center;
    font-weight: 100;
    padding-bottom: 20px;
    background: url(../../dist/images/icons/h1_border_bottom.png) no-repeat center bottom;
  }
  .bodytext {
    text-align: center;
  }
}

/* --------------------------------
Hellblau
-------------------------------- */
.cd-section.layout-1 {
  background: #0099CC;
  h1 {
    color: $white;
  }
}
/* --------------------------------
Dunkelblau
-------------------------------- */
.cd-section.layout-2 {
  background: $darkblue;
  h1 {
    color: $white;
  }
}
/* --------------------------------
Braun
-------------------------------- */
.cd-section.layout-3 {
  background-image: url(../../dist/images/background/hintergrund1.jpg);
  h1 {
    color: $white;
  }
}

/* --------------------------------
Logo Pattern
-------------------------------- */
.cd-section.layout-5 {
  background: $white;
}

/* --------------------------------
Referenzen
-------------------------------- */
.tx-mp-referenzen {
  overflow: hidden;
  padding-top: 25px;
  img {
    display: block;
    width: 100%;
  }

  figure {
    padding: 1px;
  }

  figcaption {
    text-align: left;
    padding: 0.5em;
  }

  @media (min-width: 36em) {
    figure {
      display: block;
      float: left;
      width: 33.3333333333333%;
    }
  }
  /*
  @media (max-width: 35.9999em) {
    figure { display: table-row; }
    figure img { display: table-cell; width: 6em; height: 6em; margin: 1em; margin-top: 2em; vertical-align: top; }
    figcaption { display: table-cell; vertical-align: top; padding-top: 2em; }
  }
  */
}




.cd-scrolling-bg {
  position: relative;
  min-height: 100%;
  line-height: 1.6;
  z-index: 2;
}
.cd-scrolling-bg.cd-color-1 {
  background-color: #3d3536;
  color: #a6989a;
}
.cd-scrolling-bg.lightblue {
  background-color: $lightblue;
  color: $darkgrey;
}
.cd-scrolling-bg.cd-color-3 {
  background-color: #b4d7a8;
  color: #3d3536;
}
@media only screen and (min-width: 768px) {
  .cd-scrolling-bg {
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 2;
    font-weight: 300;
  }
}

.cd-fixed-bg {
  position: relative;
  min-height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 1;
}
.cd-fixed-bg.cd-bg-1 {
  background-image: url(../../dist/images/temp_header_images.png);
}
@media only screen and (min-width: 768px) {}
@media only screen and (min-width: 1170px) {
  .cd-fixed-bg {
    background-attachment: fixed;
  }
  .cd-fixed-bg h1, .cd-fixed-bg h2 {
    font-size: 48px;
    font-weight: 300;
  }
}
