// colors
$darkblue: #132432; // blue dark
$lightblue: #0099cc; // orange
$darkgrey: #31475A; // cream
$brightblue: #48B3D7; // white
$white: #fff;

// fonts 
$primary-font: 'Titilium Web', 'Open Sans', sans-serif;



// z-index 
$secondary-bar-zindex: 1;
$intro-zindex: 2;
$header-zindex: 3;